name: Test My Action

on:
  push:
    branches:
      - bb-cd

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '16'

      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8

      - name: Install dependencies
        run: pnpm install

      - name: bb_action_ci
        uses: BuildBearLabs/buildbear_x_action@v1.3.0
        with: 
          network: |
            [
              {
                "chainId": 59141
              },
              {
                "chainId": 1,
                "blockNumber": 10000
              }
            ]
          deployCmd: "/playbook/utils/deploy-to-buildbear.sh"
          buildbear_token: "BB"